<div class="offcanvas-start show px-2" tabindex="-1" id="menu" aria-labelledby="menu" >
  <div class="offcanvas-body">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item py-2">
        <img class="nav-link link-dark"  src="../../../assets/images/menu1.svg" alt="menu1"/>
      </li>
      <li class="py-2">
        <img class="nav-link link-dark"  src="../../../assets/images/menu2.svg" alt="menu2"/>
      </li>
      <li class="py-2">
        <img class="nav-link link-dark" src="../../../assets/images/menu3.svg" alt="menu3"/>
      </li>
      <li class="py-2">
        <img class="nav-link link-dark" src="../../../assets/images/menu5.svg" alt="menu5"/>
      </li>
      <li class="py-2">
        <img class="nav-link link-dark" src="../../../assets/images/menu6.svg" alt="menu5"/>
      </li>
    </ul>
  </div>
</div>
